{{> head}}
<h1 class="title">{{restaurant.name}}</h1>
<div class="container-fluid con">
    <div class="row menu-nav-row">
        <div class="col-md-2 menu-nav position-fixed">
            <div class="row mt-4"></div>
            {{#each restaurant.menu}}
            <div class="row">
                <a href="#{{hyphenTheSpaces this.catName}}"><h4 class="ml-md-3 menu-cat">{{this.catName}}</h3></a>
            </div>
            {{/each}}
        </div>


        <div class="col-md-9 menu-holder">
            <div class="col-md-2 bg-dark"></div>
            <div class="col-md-10">
                {{#each restaurant.menu}}
                    <div class="row" >
                        <div class="col-md-3"></div>
                        <div class="col-md-9 cul" style="box-sizing:border-box;">
                            <h3 class="menu-cat mt-3" id="{{hyphenTheSpaces this.catName}}">{{this.catName}}</h3>
                            <div class="row mt-md-4" style="width:100%;"></div>
                            <div class="row">
                                {{#each (pairMaker this.itemPrices)}}
                                    {{!-- <div class="row">
                                        <div class="col-12">
                                            {{this}}
                                        </div>
                                    </div> --}}
                                    <div class="col-md-6 pr-3">
                                    {{!-- {{this.left}} --}}
                                        {{#each this.left}}
                                            {{!-- <div class="row"> --}}
                                                <div class="menu-item">
                                                    <dl>
                                                        <dt class="align-left"><span>{{this.itemName}}</span>
                                                        </dt>
                                                        <dd>{{this.price}}</dd>
                                                    </dl>
                                                </div>
                                            {{!-- </div> --}}
                                        {{/each}}
                                    </div>
                                    <div class="col-md-6 pl-3" style="border-left: 2px solid orangered;">
                                        {{#each this.right}}
                                            {{!-- <div class="row"> --}}
                                                <div class="menu-item">
                                                    <dl>
                                                        <dt class="align-left"><span>{{this.itemName}}</span>
                                                        </dt>
                                                        <dd>{{this.price}}</dd>
                                                    </dl>
                                                </div>
                                            {{!-- </div> --}}
                                        {{/each}}
                                    </div>
                                {{/each}}
                            </div>
                            <div class="row mb-md-3" style="width:100%;"></div>
                            
                            
                            
                        </div>
                        {{!-- <div class="col-md-3">
                            <div id="map" style="width:100%;height:400px;">
                                
                            </div>
                        </div> --}}
                        
                        {{!-- <div class="col-md-1"></div> --}}
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="col-md-3">
            <div id="map" style="width:100%;height:400px;"></div>
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
<script src="js/map.js"></script>
<script>
    myMap( 33.5916048,73.02379);
</script>
<script>
    $(document).on('click', 'a[href^="#"]', function (event) {
    event.preventDefault();

    $('html, body').animate({
        scrollTop: ($($.attr(this, 'href')).offset().top -60)
    }, 500);
});
</script>
<script src="js/menu.js"></script>
{{>footer}}